{% extends 'base.html.twig' %}

{% block main %}
	{# la ligne suivante est pour charger Bootstrap pour les formulaires #}
	{% form_theme form 'bootstrap_4_layout.html.twig' %}

	<h1>Customization</h1>

{% endblock %}
