{% extends 'base.html.twig' %}

{% block title %}JFG - Save jokes in my DB{% endblock %}

{% block body %}
    <p>Here I get the jokes from the .json file and save them in my DB</p>
    <p>Check in the DB!</p>

    <a href="{{ path('home') }}"> Back to home </a>
{% endblock %}
